* {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.board {
    text-align: center;
    margin: 60 auto;
    margin-bottom: 3px; 
    width: 1000px;
    height: 600px; 
    overflow: auto;
}

/* Menu Section */
.board h2 {
    color: white; 
    font-family: Arial, Helvetica, sans-serif; 
}

.board .button {
    color: white; 
    font-family: Arial, Helvetica, sans-serif; 
    opacity: 0.9; 
    padding: 0; 
}

.board .button:hover{
    cursor: pointer;
    opacity: 1; 
}

.menucontainer {
    display: flex; 
    width: 1000px; 
    margin: auto; 
    
}

h3 {
    font-size: 17px; 
    text-align: center; 
    padding-top : 10px; 
    font-family: Arial, Helvetica, sans-serif; 
    margin-top: 5px;
    margin-right: 10%; 


}

.board .square:hover{
    background-color: "black";
    cursor: pointer;
    transform: scale(1.2);
}

/* Dropdown Menubar */
.dropbtn {
    font-size: 17px; 
    color: black;
    padding: 16px;
    font-weight: bold;
    background-color: white; 
    border: none; 
}
  
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

.menucontainer .runbutton {
    cursor: pointer; 
    margin-top: 15px; 
    color: #303030;
    font-size: 17px;
    margin-left: 10%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

