.board {
    text-align: center;
    margin: 100 auto;
    margin-bottom: 10px; 
    width: 1000px;
    height: 600px; 
    overflow: auto;
}

/* Menu Section */
.board h2 {
    color: white; 
    font-family: Arial, Helvetica, sans-serif; 
}

.board .button {
    color: white; 
    font-family: Arial, Helvetica, sans-serif; 
    opacity: 0.9; 
    padding: 0; 
}

.board .button:hover{
    cursor: pointer;
    opacity: 1; 
}

h3 {
    text-align: center; 
    padding-top : 10px; 
    font-family: Arial, Helvetica, sans-serif; 


}

.board sq:hover{
    cursor: pointer;
}